<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta name="description" content="" />
  <meta name="author" content="Mauro Bolis" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  <div>
	<h2>Welcome in {{ projectName }} Project</h2>
	<p>If you see this page, everything is ok!</p>
  </div>
</body>
</html>
